* {
    box-sizing: border-box;
}

html {
    margin:0;
    padding:0;
}
body{
    margin: 5px;
    padding: 5px;
    background-image: url("images/indonesia.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color:black;
    font-family:"baskerville";
    display:flex;
    flex-direction: column;
    justify-content: space-between;   
    height: 100vh;  
}
/*---------------HEADER-----------------*/
header {
    display:flex;
    justify-content: space-between;
    color: yellow;
    background-color: blue;
}
header div {
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: "roboto";
    margin: 0 2rem;
}
header nav {
    padding: 1rem 2rem;
}
nav ul li{
    list-style: none;
    display: inline;
    letter-spacing: 5px;
}
nav li a {
    padding: 1rem;
    margin: 1rem;
    text-decoration: none;
    color: white;
    transition: all 250ms ease-in;
}
nav li a:hover {
    background: #ffce14;
    color:black;
}

/*---------TEXT IN THE FLEX CONTAINER-------------*/
.titles {
    color: white;
    text-align: center;
    width: 50vw;
    margin: 0 auto;
}
.titles h1 {
    font-family: baskerville;
    font-size: 5rem;
    margin-bottom: 0;
    text-shadow: 1px 1px 0 black;
    color: #E9F319;
}
.titles p{
    letter-spacing: 3px;
    text-shadow: 1px 1px 0 black;
    font-size: 15px;
}

/*---------------------FLEX CONTAINER------------------------*/
.flex-container{
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-around;
    max-width: 80vw;
}

.flex-container{
    background-color: aquamarine;
    margin: 10px;
    padding: 0.5rem;
    opacity: 0.5;
    display: flex;
    justify-content: space-between;
    max-width: 350px;
    max-height: 180px;
    min-height: 180px;
    transition: all 250ms ease-out;
    font-size: 15px;
}
.flex-container:hover {
        background: yellow;
        transform: translateY(-20%);
}
.flex-container{
    text-decoration: none;
    padding: 1rem;
}
.flex-container h2 {
    margin: 0;
    margin-bottom: 0;
    color: black;
    text-align: center;
    font-size: 40px;
}
.flex-container p {
    margin-top: 1rem;
    line-height: 1.5rem;
    text-align: center;
    font-size: 20px;
}
.text {
    padding: 0.5rem;
}
@media (max-width: 1160px) {
    .icon {
      font-size: 2rem;
      padding: 0.5rem;
    }
    .text h3 {
      text-transform: uppercase;
      letter-spacing: 4px;
      margin-bottom: 0;
      font-size: 1rem;
    }
    .text p {
      margin-top: 1rem;
      line-height: 1.5rem;
      text-align: left;
      font-size: 0.8rem;
    }
    nav li a:hover {
      background: none;
      color: black;
    }
  }
  @media (max-width: 850px) {
    body {
      height: 100%;
    }
    .flex-container {
      flex-direction: column;
    }
    .flex-container:hover {
      background:yellow;
      transform: none;
    }
    /*----------------ARTICLE---------------*/
    article {
        float: right;
        padding: 20px;
        width: 70%;
        background-color:rgba(103, 243, 243, 0.747);
        height: 300px; 
    }
    .article h3 {
        align-items: center;
    }
    .article p {
        text-align: center;
    }
    .article:after {
        content: "";
        display: table;
        clear: both;
      }
}
h3 *{
    box-sizing: border-box;
  }
  .column{
    float: left;
    width:33%;
    padding: 3px;
  }
  .column img {
    height:100px;
  }

    